--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple

torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio==2.5.1+cu124
numpy
Pillow
PyYAML
tqdm
imageio[ffmpeg]
plyfile
tyro==0.9.1
jaxtyping==0.2.36
typeguard==2.13.3
torchmetrics[image]
setuptools
wheel
ninja
